@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary:"#5b99cc";
  }
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik);

}

.fancy-text{
  font-family: var(--font-Oleo-Script);
}

.underline-animation {
  position: relative;
}
.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #02AFEF;
  transition: width 0.3s ease-in-out;
}
.underline-animation:hover::after {
  width: 100%;
}

/* Initial state of the dropdown */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: #4a4a4a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: max-content;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Show the dropdown when hovering over the parent element */
.group:hover .dropdown-menu {
  opacity: 1; /* Fade in */
  transform: translateY(0px); /* Slide up into view */
  pointer-events: auto; /* Enable interaction with the dropdown */
}

/* Hover effect for links */
.dropdown-menu a {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: #4a4a4a;
}

.dropdown-menu a:hover {
  color: white;
}

.logoPart{
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);

}

.serviceCard:hover .serviceIcon {
  border: 4px solid #5b99cc !important;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}


.whyChooseUs{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
      url('/images/whychooseus.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.bubble-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/bubble bg.png');
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.15;
  z-index: 1; /* Keep it behind everything */
  pointer-events: none; /* Prevents blocking button clicks */
  animation: moveBubbles 10s linear infinite;
}

.floating {
  animation: floatUpDown 2s infinite ease-in-out;
  -webkit-animation: floatUpDown 2s infinite ease-in-out;
}

@keyframes moveBubbles {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-bubbles {
  width: 200%;
  /*Maketheimageverywide*/animation: moveBubbles 10s linear infinite;
  -webkit-animation: moveBubbles 10s linear infinite;
}


.accordion-child,.productModal,.product-card {
  scrollbar-width: none; /* For Firefox */
}

.accordion-child::-webkit-scrollbar,.productModal::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer versions of Edge */
}

.breadcrumb {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(/images/whychooseus.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}